﻿body {
    background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
    color: #854bd1;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center (optional) */
    min-height: 100vh;
    max-width: 1200px;
    margin: 0;
}

.container {
   
    width: 80%; /* or any width you want */
    max-width: 700px; /* optional: prevents it from getting too wide */
    margin: 0 auto; /* centers the div */
    color: #854bd1;
    background-color: #f0f0f5;
}

.pricing-header {
    max-width: 700px;
    color: #854bd1;
}

img {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    border-radius: 25px;
    width: 81px;
    margin-right: 0px;
    margin-top: 0px;
    height: 59px;
    margin-left: 0px;
}

#logo img {
    max-height: 50px;
    width: auto;
    border-radius: 25px;
}

h1 {
    font-size: 2.25em;
    font-weight: bold;
    color: #854bd1;
}

h2 {
    font-size: 1.875em;
    color: #854bd1;
}

h3 {
    font-size: 1.5em;
    color: #854bd1;
}

h4 {
    font-size: 1.125em;
    color: #854bd1;
}

h5 {
    font-size: 1em;
    color: #854bd1;
}
