<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportLibrary.Properties.Settings.myConn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AJs_Sweets;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Licensing.Runtime" publicKeyToken="98bb5b04e55c09ef" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.21.0" newVersion="1.6.21.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>