<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportLibrary.Properties.Settings.myConn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AJs_Sweets;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>